version: v0.3.0

agents:
  - id: rag_agent
    url: mcp://host.docker.internal:10505
  - id: travel_agent
    transport: streamable-http
    tool: invoke
    url: mcp://host.docker.internal:10401

agent_filters:
  - id: query_rewriter
    transport: streamable-http
    tool: query_rewriter
    url: mcp://host.docker.internal:10501
  - id: context_builder
    transport: streamable-http
    tool: context_builder
    url: mcp://host.docker.internal:10502

model_providers:
  - model: openai/gpt-4o-mini
    access_key: $OPENAI_API_KEY
    default: true
  - model: openai/gpt-4o
    access_key: $OPENAI_API_KEY

model_aliases:
  fast-llm:
    target: gpt-4o-mini
  smart-llm:
    target: gpt-4o

listeners:
  - type: agent
    name: agent_1
    port: 8001
    router: arch_agent_router
    agents:
      - id: rag_agent
        description: virtual assistant for retrieval augmented generation tasks
        filter_chain:
          - query_rewriter
          - context_builder

      # - id: travel_agent
      #   description: virtual assistant for travel bookings and recommendations
      #   filter_chain:
      #     - input_guards

tracing:
  random_sampling: 100
