version: v0.3.0

agents:
  - id: rag_agent
    url: mcp://host.docker.internal:10501
    # only sse is supported
    # transport: sse or stdio
    # optional tool name, defaults to "invoke"
    # tool: invoke
  - id: travel_agent
    url: mcp://host.docker.internal:10502

agent_filters:
  - id: query_rewriter
    url: mcp://host.docker.internal:10500
    # tool is optional, defaults to id
    # tool: query_rewriter
  - id: context_builder
    url: mcp://host.docker.internal:10500
  - id: input_guards
    url: mcp://host.docker.internal:10500

model_providers:
  - model: openai/gpt-4o-mini
    access_key: $OPENAI_API_KEY
    default: true
  - model: openai/gpt-4o
    access_key: $OPENAI_API_KEY

model_aliases:
  fast-llm:
    target: gpt-4o-mini
  smart-llm:
    target: gpt-4o

listeners:
  - type: agent
    port: 8001
    router: arch_agent_router
    agents:
      - id: rag_agent
        description: virtual assistant for retrieval augmented generation tasks
        filter_chain:
          - input_guards
          - query_rewriter
          - context_builder

      - id: travel_agent
        description: virtual assistant for travel bookings and recommendations
        filter_chain:
          - input_guards

tracing:
  random_sampling: 100
